#bt-event {
    background: linear-gradient(to right, rgb(86, 106, 126), rgb(65, 130, 141));
    color: #4E7888;
    border: #95989A;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.11);
    width: 400px;
    height: 250px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 2em;
    align-content: left;
    position: relative;
    transition: transform .25s;
    border-radius: 30px;
    overflow: hidden
}

#bt-event:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
}

.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

#box-event {
    background-color: rgb(253, 253, 253);
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    color: #95989A;
}

#event-name {
    margin-top: 1em;
    margin-bottom: 3px;
    margin-left: 1.5em;
}

#event-location {
    margin-top: 2px;
    margin-left: 1.5em;
    font-weight: 200;
}

.Modal {
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    right: 1vmin;
    bottom: 1vmin;
    background-color: white;
    margin: 5vmin 10vmin;
    margin-top: 15vmin;
    border: none;
    border-radius: 20px;
    padding: 5vmin;
    z-index: 1000;
    box-shadow: 2vmin 2vmin  10vmin rgba(75, 75, 75, 0.308);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(197, 197, 197, 0.315);
}

#close-button {
    position: absolute;
    right: 2vmin;
    top: 2vmin;
    border-radius: 100%;
    height: 7vmin;
    width: 7vmin;
}

#heading-modal {
    font-family: Montserrat;
    margin: 2vmin;
    font-size: 2vmin;
}

#event-name-modal {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: .1em;
}

#event-loc-modal {
    font-size: 2em;
}

#event-title {
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: .25em;
    text-transform: uppercase;
}

#modal-detail {
    position: absolute;
    width: 100%;
    height: 8em;
    top: 0;
    right: 0;
    background-color: linear-gradient(to right, rgb(86, 106, 126), rgb(65, 130, 141));
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip i {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: indigo;
    color: white;
}

#categories {
    margin: 20px;
}

.bt-category {
    width: 20vmin;
    height: 6vmin;
    border: none;
    border-radius: 20px;
    background: rgb(101, 87, 115);
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: .5em;
    text-align: center;
    margin: 10px 20px;
}

.bt-category:hover {
    background: rgb(55, 52, 58);
}

@media (max-width: 500px) {
    #bt-event {
        width: 80vw;
    }
    .Modal {
        margin: 2vmin 4vmin;
    }
}