
#jumbotron {
    background: linear-gradient(to right, #6E4D6E, #2a9c9c);
    font-family: Montserrat;
    COLOR: WHITE;
    --height: 500px;
}

#mainTitle {
    margin-top: 8vmin;
    font-size: 10vmin;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: Montserrat;
    color: white;
}

#contentTitle {
    margin: 100px;
    font-weight: 800;
    letter-spacing: 8px;
    color: #4E7888;
}

#subTitle {
    font-weight: 300;
    font-size: 5vmin;
    letter-spacing: 3px;
}

#bt-login {
    background-color: white;
    color: #4E7888;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.322);
    width: 200px;
    height: 50px;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 30px;
    align-content: center;
    border: none;
    border-radius: 30px;
}

#bt-login:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.452);
    background-color: rgb(233, 233, 233);
}

#authButtons {
    margin: 5%;
    text-align: center;
}