
#navBar {
    background: linear-gradient(to right, #6E4D6E, #2a9c9c);
    font-family: Montserrat;
    color: white;
}

#nav-items {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.nav-item {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#navbar-brand {
    font-weight: 800;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
}